# Python cache files
src/__pycache__/
*.py[cod]
*$py.class
*.cpython-*.pyc
*.pyc

# VS Code settings
.vscode/
*.code-workspace
src/__pycache__/laptop.cpython-312.pyc
src/__pycache__/model_feeg6043.cpython-312.pyc
